export( "mvProbit" )
export( "mvProbitExp" )
export( "mvProbitLogLik" )
export( "mvProbitMargEff" )

importFrom( "bayesm", "ghkvec" )
importFrom( "miscTools", "margEff" )

S3method( "logLik", "mvProbit" )
S3method( "margEff", "mvProbit" )
S3method( "print", "mvProbit" )
S3method( "print", "summary.mvProbit" )
S3method( "print", "summary.mvProbitMargEff" )
S3method( "summary", "mvProbit" )
S3method( "summary", "mvProbitMargEff" )

