export( "mvProbit" )
export( "mvProbitExp" )
export( "mvProbitLogLik" )
export( "mvProbitMargEff" )

import( "mvtnorm" )
import( "maxLik" )
import( "abind" )
importFrom( "bayesm", "ghkvec" )
importFrom( "miscTools", "margEff" )
importFrom( "stats", "binomial" )
importFrom( "stats", "coef" )
importFrom( "stats", "cor" )
importFrom( "stats", "glm" )
importFrom( "stats", "model.matrix" )
importFrom( "stats", "model.response" )
importFrom( "stats", "na.pass" )
importFrom( "stats", "pnorm" )
importFrom( "stats", "printCoefmat" )


S3method( "logLik", "mvProbit" )
S3method( "margEff", "mvProbit" )
S3method( "print", "mvProbit" )
S3method( "print", "summary.mvProbit" )
S3method( "print", "summary.mvProbitMargEff" )
S3method( "summary", "mvProbit" )
S3method( "summary", "mvProbitMargEff" )

